
<h3 class="charts-title">COVID-19 Response,Sovereign Projects</h3>
<p class="charts-money">($ million)</p>
<div class="chart">
    <ejs-accumulationchart id="container" class="both-charts" #pie [legendSettings]="legendSettings" [tooltip]="tooltip"
         (load)='load($event)'>
        <e-accumulation-series-collection>
            <e-accumulation-series name='Project' [dataSource]='data' xName='x' yName='y' [startAngle]="startAngle" [endAngle]="endAngle" innerRadius="40%"
                radius="70%" [dataLabel]="dataLabel" explode=true explodeOffset='10%' [explodeIndex]='1'>
            </e-accumulation-series>
        </e-accumulation-series-collection>
    </ejs-accumulationchart>
    <!-- <style>
        .control-section {
            min-height: 450px;
        }
    </style> -->
    </div>

<div class="chart">
    <ejs-accumulationchart id="container2" class="both-charts" #pie2 [legendSettings]="legendSettings" [tooltip]="tooltip"
       (load)='load($event)'>
        <e-accumulation-series-collection>
            <e-accumulation-series name='Project' [dataSource]='data' xName='x' yName='y' [startAngle]="startAngle" [endAngle]="endAngle" innerRadius="40%"
                radius="70%" [dataLabel]="dataLabel" explode=true explodeOffset='10%' [explodeIndex]='1'>
            </e-accumulation-series>
        </e-accumulation-series-collection>
    </ejs-accumulationchart>
    <!-- <style>
        .control-section {
            min-height: 450px;
        }
    </style> -->
    </div>