<div style="position: relative;display: block;width: 100%;">
    <div style="padding-top: 56.25%;">
    <iframe class="load-later" style="position: absolute; width:100%; height:100%; top: 0px; right: 0px; bottom: 0px; left: 0px;" data-framesrc="//players.brightcove.net/791607097001/9fa20be7-aba0-42f9-92b4-438ab9db690a_default/index.html?videoId=6157928768001" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="encrypted-media" src="//players.brightcove.net/791607097001/9fa20be7-aba0-42f9-92b4-438ab9db690a_default/index.html?videoId=6157928768001">
                </iframe>
    </div>
    </div>